body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
}

.calc {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	border: 10px solid black;
}

.display {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 5px;
	padding: 5px;
	width: 344px;
	height: 83.5px;
	font-size: 3.9em;
	font-weight: initial;
	border: 1px solid black;
	background-color: #ffe8c8;
}

.button-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 360px;
	padding: 5px;
}

button {
	width: 86px;
	height: 76px;
	padding: 6px;
	margin: 1px;
}

#zero {
	width: 174px;
	height: 76px;
	padding: 6px;
	margin: 1px;
}
